In [10]:
import json, os
import pandas as pd

In [15]:
# Specify the test data filepath
s3_path = os.path.join('test_data', 'allplayers.json')

In [33]:
# Convert JSON to dataframe
allplayers = pd.read_json(s3_path)
# Transpose dataframe
allplayers = allplayers.T
# Create a column for sleeper_id based on the index
allplayers = allplayers.reset_index(names='id_sleeper')
# Select only relevant columns
allplayers = allplayers[[
    'id_sleeper',
    'full_name', 
    'weight', 'height',
    'birth_date', 'age', 
    'high_school', 'college',
    'sport', 'years_exp', 'active', 'status',
    'team', 'number', 'position', 'fantasy_positions', 'depth_chart_position', 'depth_chart_order',
    'news_updated', 'injury_status', 'injury_body_part', 'injury_start_date', 'injury_notes', 'practice_description', 'practice_participation',
    'competitions',
]]

/var/folders/ss/nt9sccdn5w91sbtr85gybrnm0000gn/T/ipykernel_33898/647918654.py:2: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  allplayers = pd.read_json(s3_path)
/var/folders/ss/nt9sccdn5w91sbtr85gybrnm0000gn/T/ipykernel_33898/647918654.py:2: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  allplayers = pd.read_json(s3_path)
/var/folders/ss/nt9sccdn5w91sbtr85gybrnm0000gn/T/ipykernel_33898/647918654.py:2: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  allplayers = pd.read_json(s3_path)

In [34]:
allplayers.head()

,id_sleeper,full_name,weight,height,birth_date,age,high_school,college,sport,years_exp,...,depth_chart_position,depth_chart_order,news_updated,injury_status,injury_body_part,injury_start_date,injury_notes,practice_description,practice_participation,competitions
0,3992,Dave Caldwell,,,None,None,None,None,nfl,0,...,None,None,None,None,None,None,None,None,None,[]
1,6744,Greg Ward,190,71,1995-07-12,28,John Tyler (TX),Houston,nfl,7,...,None,None,1701897349719,None,None,None,None,None,None,[]
2,1591,Alvin Bailey,320,"6'3""",1991-08-26,29,Broken Arrow (OK),Arkansas,nfl,7,...,None,None,None,None,None,None,None,None,None,[]
3,918,Niles Paul,242,73,1989-08-09,32,Millard North (NE),Nebraska,nfl,11,...,None,None,1565134827397,None,None,None,None,None,None,[]
4,4810,Kwayde Miller,315,79,1993-12-11,28,Ramona,San Diego State,nfl,5,...,None,None,None,None,None,None,None,None,None,[]